.features {
    background: #F5F3F4;
    padding-bottom: 18px;
}

.feature-flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.feature-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-h h1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0%;
    color: #12100C;
    margin-bottom: 39px;
}

.f-h p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    line-height: 31.92px;
    letter-spacing: 0%;
    color: #12100CB2;
    margin-bottom: 48px;
}

.f-flex {
    display: flex;
    gap: 24px;
    padding-bottom: 16px;
}

.f-flex-2 {
    display: flex;
    gap: 30px; 
}

.f-flex button {
    border-radius: 17px;
    padding: 12px 46px;
    box-shadow: 0px 1px 1px 0px #0000001A;
    background: #FFAE33;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: center;
    color: #12100C;
    border: none;
}

.f-flex button:hover {
    transition: all 0.5s ease-in-out;
    color: #FFB84D;
    box-shadow: 10px 10px 3px #0000001A;
    transform: translateY(-10px);
    background: #12100C;
}

.f-flex p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #12100CB2;
}

.feature-right {
    width: 50%;
}

.feature-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1100px) {
    .feature-flex {
        flex-direction: column;
        align-items: center;
    }

    .feature-left * {
        text-align: center;
    }

    .f-flex, .f-flex-2 {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .f-h h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .f-h p {
        font-size: 18px;
        line-height: 24px;
    }

    .f-flex button {
        padding: 10px 30px;
        font-size: 16px;
    }

    .feature-right img {
        width: 100%;
    }
}   

@media (max-width: 400px) {
    .f-h h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .f-h p {
        font-size: 16px;
        line-height: 22px;
    }

    .f-flex button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .f-flex {
        flex-direction: column;
        align-items: center; 
    }
}