.header{
    background: #F5F3F4;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-medium{
    display: flex;
    gap: 48px;
align-items: center;
}
.header-medium a{
    text-decoration: none;
    color: #12100CB2;
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;

}
.header-right input{
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #f9f9f9;
width: 80px;
height: 32px;
opacity: 1;
border-radius: 12px;
background-color: #12100C;
text-align: center;
border: none;
}
@media (max-width:900px) {
  .nav{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
@media (max-width:550px) {
  .header-medium{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}